html {
    background-color: lightcyan;
}

.game-interface {
    background-color: lightcyan;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.scoreboard {
    display: block;
    text-align: center;
    font-size: 40px;
    margin: 30px auto;
}

.lightbulb-hint {
    margin: auto;
    height: fit-content;
    width: fit-content;

}

.lightbulb-hint button {
    margin: 40px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 50px;
}

.basketball-timer {
    position: left;
    width: 150px;
    height: 150px;
    background-color: #f8a101;
    border-radius: 50%;
    border: 10px solid #000;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-top: 5%;
    margin-left: 80%
}

.timer-circle {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.time {
    font-size: 1.5rem;
    font-weight: bold;
    color: #111;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.restart-button {
    display: block;
    font-size: 60px;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 30px auto;
}

table {
    padding: 10px;
    border: 1px solid black;
    border-collapse: separate;
    background-color: lightskyblue;
    margin: 30px auto;
    display: block;
    height: fit-content;
    width: fit-content;



}

.cell {

    width: 80px;
    height: 80px;
    text-align: center;
    transition: 0.5s;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgba(135, 206, 250, 0.257);
    transition: 0.1s;

}


.board .hidden span {
    visibility: hidden;
    /* transition: 1s; */
}


.lightbulb-hint .chosen {
    background-color: yellow;
}

.lightbulb-hint .isOn {
    display: none;
}

.non-interactive {
    pointer-events: none;
    opacity: 0.5;
}

.cell:hover {
    transform: scale(1.1);
    transition:transform 0.1s;
}

.marked {
    transition: 0.1s;
    background-color: brown;
}

footer {
    margin: 500px auto;
    text-align: center;
    font-size: 40px;
}